In [1]:
from openai import OpenAI
import pandas as pd
import json
import duckdb
from pydantic import BaseModel, Field
from IPython.display import Markdown

from helper import get_openai_api_key

In [2]:
openai_api_key = get_openai_api_key()
client = OpenAI(api_key=openai_api_key)

MODEL = "gpt-4o-mini"

In [3]:
TRANSACTION_DATA_FILE_PATH = "data/Store_Sales_Price_Elasticity_Promotions_Data.parquet"

In [4]:
# prompt template for step 2 of tool 1
SQL_GENERATION_PROMPT = """
Generate an SQL query based on a prompt. Do not reply with anything besides the SQL query.
The prompt is: {prompt}

The available columns are: {columns}
The table name is: {table_name}
"""

In [5]:
# code for step 2 of tool 1
def generate_sql_query(prompt: str, columns: list, table_name: str) -> str:
    """Generate an SQL query based on a prompt"""
    formatted_prompt = SQL_GENERATION_PROMPT.format(
        prompt=prompt, columns=columns, table_name=table_name
    )

    response = client.chat.completions.create(
        model=MODEL,
        messages=[{"role": "user", "content": formatted_prompt}],
    )

    return response.choices[0].message.content

In [6]:
# code for tool 1
def lookup_sales_data(prompt: str) -> str:
    """Implementation of sales data lookup from parquet file using SQL"""
    try:

        # define the table name
        table_name = "sales"

        # step 1: read the parquet file into a DuckDB table
        df = pd.read_parquet(TRANSACTION_DATA_FILE_PATH)
        duckdb.sql(f"CREATE TABLE IF NOT EXISTS {table_name} AS SELECT * FROM df")

        # step 2: generate the SQL code
        sql_query = generate_sql_query(prompt, df.columns, table_name)
        # clean the response to make sure it only includes the SQL code
        sql_query = sql_query.strip()
        sql_query = sql_query.replace("```sql", "").replace("```", "")

        # step 3: execute the SQL query
        result = duckdb.sql(sql_query).df()

        return result.to_string()
    except Exception as e:
        return f"Error accessing data: {str(e)}"

In [7]:
example_data = lookup_sales_data(
    "Show me all the sales for store 1320 on November 1st, 2021"
)
print(example_data)

    Store_Number  SKU_Coded  Product_Class_Code  Sold_Date  Qty_Sold  Total_Sale_Value  On_Promo
0           1320    6173050               22875 2021-11-01         1          4.990000         0
1           1320    6174250               22875 2021-11-01         1          0.890000         0
2           1320    6176200               22975 2021-11-01         2         99.980003         0
3           1320    6176800               22800 2021-11-01         1         14.970000         0
4           1320    6177250               22975 2021-11-01         1          6.890000         0
5           1320    6177300               22800 2021-11-01         1          9.990000         0
6           1320    6177350               22800 2021-11-01         2         16.980000         0
7           1320    6177700               22875 2021-11-01         1          3.190000         0
8           1320    6178000               22875 2021-11-01         2          6.380000         0
9           1320    6178250               22800 2021-11-01         1         16.590000         0
10          1320    6179250               24400 2021-11-01         1         14.990000         0
11          1320    6179300               22800 2021-11-01         2          9.980000         0
12          1320    6179400               24400 2021-11-01         2         29.980000         0
13          1320    6179450               24400 2021-11-01         1         14.990000         0
14          1320    6179500               24400 2021-11-01         1         14.990000         0
15          1320    6179750               22800 2021-11-01         2         39.980000         0
16          1320    6180550               22975 2021-11-01         1         15.990000         0
17          1320    6182050               22975 2021-11-01         1          7.990000         0
18          1320    6183750               22850 2021-11-01         3         38.970001         0
19          1320    6184100               22975 2021-11-01         3         59.970001         0
20          1320    6188550               22950 2021-11-01         2         15.980000         0
21          1320    6190050               24425 2021-11-01         5         19.950001         0
22          1320    6190150               24425 2021-11-01         1          8.990000         0
23          1320    6190200               24425 2021-11-01         1          8.990000         0
24          1320    6190250               24425 2021-11-01         1          7.990000         0
25          1320    6190350               22950 2021-11-01         1          6.990000         0
26          1320    6190400               22950 2021-11-01         1          6.990000         0
27          1320    6193750               22875 2021-11-01         1          6.990000         0
28          1320    6195350               24375 2021-11-01         1         16.990000         0
29          1320    6195800               22850 2021-11-01         3         25.719999         1